<%- include('./partials/header.ejs')%>
    <main>
        <h1>About Meet Street</h1>
        <p>
            Meet Street is a platform where people can attend and create local events to connect with people
        </p>
    </main>
    <%- include('./partials/footer.ejs')%>