<%- include('./partials/header.ejs')%>
    <main>
        <h1>Contact</h1>
        <p>
            Email: bshabani@uncc.edu<br>
            Phone: 704-778-0855
        </p>
    </main>
    <%- include('./partials/footer.ejs')%>