<%- include('./partials/header.ejs')%>
    <main>
        <h1>Welcome to Meet Street</h1>
        <p>Attend and create local events to connect with people. Whether you are looking
            for a new group of friends, trying to find a new hobby, or just want to find
            something to do on the weekend
        </p>
        <p>
            Check out the Events section to browse available events!
        </p>
    </main>
    <%- include('./partials/footer.ejs')%>