<footer>
    <nav id="left_foot">
        <ul>
            <li><a href="#" class="info_text">©MeetStreet</a></li>
            <li><a href="/about" class="info_text">About</a></li>
            <li><a href="/contact" class="info_text">Contact</a></li>
        </ul>
    </nav>
    <nav id="right_foot">
        <ul>
            <li><a href="#"><img src="/images/facebook-icon.png" alt="Facebook" class="icon_image"></a></li>
            <li><a href="#"><img src="/images/instagram-icon.png" alt="Instagram" class="icon_image"></a></li>
        </ul>
    </nav>
</footer>
</body>

</html>